{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGSEL Web</title>
    <link rel="shortcut icon" href="{{ asset('logos/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('logos/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ asset('assets/styles/home.css') }}">
</head>
<body>
    <table class="tabledeb">
        <tr class="trdeb">
            <td width="90%">&nbsp; UGSEL Web &nbsp;&nbsp; Base de lancement &nbsp;&nbsp;</td>
            <td width="10%" align="center"></td>
        </tr>
    </table>
    <table class="main-table">
        <tr>
            <td width="35%" rowspan="6" align="center" valign="top" class="logo-container">
                <a href="http://www.ugsel.org" class="img-lien">
                    <img src="{{ asset('logos/logoun.png') }}" height="150" width="150" alt="Logo">                </a>
            </td>
            <td colspan="4" class="welcome-text"><b>Bienvenue dans UGSEL Web</b><br>Accédez à l'Ugsel Régionale de votre choix en cliquant sur son nom...</td>
        </tr>
        <tr>
            <td><a href="./als">Alsace</a></td>
            <td><a href="./lyo">Lyonnais</a></td>
            <td><a href="./aqu">Aquitaine</a></td>
            <td><a href="./mid">Midi-Pyrénées</a></td>
        </tr>
        <tr>
            <td><a href="./auv">Auvergne Limousin</a></td>
            <td><a href="./nvc">Nice Var Corse</a></td>
            <td><a href="./bou">Bourgogne</a></td>
            <td><a href="./npc">Nord Pas de Calais</a></td>
        </tr>
        <tr>
            <td><a href="./bzh">Bretagne</a></td>
            <td><a href="./nrm">Normandie</a></td>
            <td><a href="./cen">Centre</a></td>
            <td><a href="./par">Paris</a></td>
        </tr>
        <tr>
            <td><a href="./cha">Champagne Ardennes</a></td>
            <td><a href="./pdl">Pays de Loire</a></td>
            <td><a href="./dau">Dauphiné Savoie</a></td>
            <td><a href="./pic">Picardie</a></td>
        </tr>
        <tr>
            <td><a href="./fra">Franche Comté</a></td>
            <td><a href="./poi">Poitou Charentes</a></td>
            <td><a href="./lan">Languedoc Roussillon</a></td>
            <td><a href="./pro">Provence</a></td>
        </tr>
    </table>
    <table class="tablefin">
        <tr class="trfin">
            <td width="80%">&nbsp; UGSEL Web &nbsp;&nbsp; Base de lancement &nbsp;&nbsp;</td>
        </tr>
    </table>
</body>
</html>


{% endblock %}
